<h5>
  <a class="nav-link" routerLink="/">Back</a>
</h5>



<div class="container">

  <div *ngIf="failed">Couldn't find weather information for {{city | titleize }}</div>

  <h5 class="center-align">{{city | titleize }}</h5>

  <table class="center highlight responsive-table">
    <tr>
      <th *ngFor="let date of weatherDates">{{date | date: 'MMM d'}}</th>
    </tr>
    <tr>
      <td *ngFor="let n of desc">
        <i [class]="weatherIcon(n)"></i>
      </td>
    </tr>

    <tr>
      <td class="blue-text text-darken-2 temp" *ngFor="let num of temp">{{num}} F</td>
    </tr>

    <tr>
      <td *ngFor="let n of desc">{{n | titleize}}</td>
    </tr>

  </table>

  <div [hidden]="!chart" class="chart">
    <canvas #canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>
