<div class="container">
  <h5>
    <a class="nav-link" routerLink="/">Back</a>
  </h5>
  <h1 class="center-align">{{city | titleize}}</h1>
  <table class="center">
    <tr>
      <th *ngFor="let date of weatherDates">{{date}}</th>
    </tr>
    <tr>
      <td *ngFor="let n of desc">
        <i [class]="weatherIcon(n)"></i>
      </td>
    </tr>
    <tr>
      <td class="blue-text text-darken-2" *ngFor="let num of temp">{{num}} F</td>
    </tr>
    <tr>
      <td *ngFor="let n of desc">{{n}}</td>
    </tr>

  </table>


  <div [hidden]="!chart">
    <canvas #canvas id="canvas">{{ chart }}</canvas>
  </div>

  <div *ngIf="failedToLoad">Weather is not available. Please try again.</div>

  <canvas id="icon2" width="128" height="128"></canvas>


</div>
