<input type="text" placeholder="Enter City" [(ngModel)]="newCity">

<div *ngIf="failed">Couldn't find city name</div>
<button (click)="addCity()" class="btn btn-secondary" [disabled]="searching">Get Weather!</button>
<h1 class="center-align">{{city | titleize }}</h1>
<table class="center">
  <tr>
    <th *ngFor="let date of weatherDates">{{date}}</th>
  </tr>
  <tr>
    <td *ngFor="let n of desc">
      <i [class]="weatherIcon(n)"></i>
    </td>
  </tr>
  <tr>
    <td class="blue-text text-darken-2" *ngFor="let num of temp">{{num}} F</td>
  </tr>
  <tr>
    <td *ngFor="let n of desc">{{n | titleize}}</td>
  </tr>


</table>

<div [hidden]="!chart">
  <canvas #canvas id="canvas">{{ chart }}</canvas>
</div>
